<!DOCTYPE html>
<html lang="en">

<head>
  <title>💥</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/BUSCAMINAS_EL_CHIDO/www/public/img/icon-192.png" />
  <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/style-game.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@15.0.2/dist/twemoji.min.js" integrity="sha384-D6GSzpW7fMH86ilu73eB95ipkfeXcMPoOGVst/L04yqSSe+RTUY0jXcuEIZk0wrT" crossorigin="anonymous"></script> -->

</head>

<body>
  <div class="vistas">
    <main>
      <div calss="info">
        <iframe src="/BUSCAMINAS_EL_CHIDO/www/views/modules/cambios.html" width="250px" height="60px" id="iframe-player"></iframe>
      </div>

    </main>
    <main>
      <div calss="score">
        <iframe src="/BUSCAMINAS_EL_CHIDO/www/views/modules/score.html" width="250px" height="60px" id="iframe-score"></iframe>
      </div>
    </main>
    <main>
      <div calss="records">
        <iframe src="/BUSCAMINAS_EL_CHIDO/www/views/modules/records.html" width="250px" height="60px" id="iframe-record"></iframe>
      </div>
    </main>


  </div>

  <div class="wrapper">
    <button type="button" class="settings js-settings" aria-haspopup="true" aria-expanded="false"
      aria-label="Settings"></button>
    <div class="js-settings-popup settings-popup">
      <div class="flex">
        <label class="btn flex-cell" aria-label="Use Twitter Emoji"><input type="radio" name="emoji" id="twemoji"
            checked> Twemoji</label>
        <label class="btn flex-cell" aria-label="Use Native Emoji"><input type="radio" name="emoji" id="emoji"> Native
          emoji</label>
      </div>
      <div class="flex" style="display: none">
        <input id="cols" class="input flex-cell" type="number" value="10" min="1" max="100" aria-label="Columns">
        <div class="flex-cell divider">&times;</div>
        <input id="rows" class="input flex-cell" type="number" value="10" min="1" max="100" aria-label="Rows"><br>
      </div>
      <div class="prepend-input" style="display: none">💣</div>
      <input id="bombs" class="input" style="display: none" type="number" value="10" min="1" max="2500"
        aria-label="Number of bombs">
      <select id="emojiset" class="input input-select" aria-label="Change emoji set">
        <option value="✅ 💣 🚧 ◻️">✅ 💣 🚧</option>
        <option value="🐧 ❄️ 🚧 ◻️">🐧 ❄️ 🚧</option>
        <option value="🎧 🎶 🚧 ◻️">🎧 🎶 🚧</option>
        <option value="🐶 🐱 🚧 ◻️">🐶 🐱 🚧</option>
        <option value="🎃 👻 🚧 ◻️">🎃 👻 🚧</option>
        <option value="☀️ 🌑 🚧 ◻️">☀️ 🌑 🚧</option>
        <option value="👽 👾 🚧 ◻️">👽 👾 🚧</option>
        <option value="🎄 🎅 🚧 ◻️">🎄 🎅 🚧</option>
        <option value="💌 😍 🚧 ◻️">💌 😍 🚧</option>
        <option value="🐾 🐼 🚧 ◻️">🐾 🐼 🚧</option>
        <option value="😇 😈 🚧 ◻️">😇 😈 🚧</option>
        <option value="🐭 🐱 🚧 ◻️">🐭 🐱 🚧</option>
        <option value="❄️ 🔥 🚧 ◻️">❄️ 🔥 🚧</option>
        <option value="🐢 🐰 🚧 ◻️">🐢 🐰 🚧</option>
        <option value="🎪 🎈 🚧 ◻️">🎪 🎈 🚧</option>
        <option value="🌈 ⚡ 🚧 ◻️">🌈 ⚡ 🚧</option>
        <option value="🍕 🍟 🚧 ◻️">🍕 🍟 🚧</option>
        <option value="🎎 🍙 🚧 ◻️">🎎 🍙 🚧</option>
      </select>
      <button class="js-popup-new-game btn" type="button">Save and restart game</button>
    </div>
    <button type="button" class="action-btn js-new-game" aria-label="New game">
      <span class="default-emoji"></span>
      <span id="result" class="result-emoji"></span>
    </button>

    <div id="map" role="grid" aria-label="Mine field">
    </div>
    <div class="bar flex">
      <div class="stat flex-cell">
        <div id="bombs-left">0</div><span class="small-text">BOMBS</span>
      </div>
      <div class="stat flex-cell">
        <div id="moves"></div><span class="small-text">MOVES</span>
      </div>
      <div class="stat flex-cell">
        <div id="timer"></div><span class="small-text">TIME</span>
      </div>
    </div>
  </div>
  <div aria-live="assertive" class="feedback"></div>

  <script>
    if (navigator.serviceWorker) navigator.serviceWorker.register('/BUSCAMINAS_EL_CHIDO/www/public/js/sw.js')
  </script>

  <script src="/BUSCAMINAS_EL_CHIDO/www/public/js/twemoji.js"></script>
  <script src="/BUSCAMINAS_EL_CHIDO/www/public/js/game.js"></script>

  <script>
    var emojiset = document.getElementById('emojiset').value.split(' ')
    var cols = document.getElementById('cols')
    var rows = document.getElementById('rows')
    var bombs = document.getElementById('bombs')

    game = new Game(cols.value, rows.value, bombs.value, emojiset, document.getElementById('twemoji').checked)

    document.querySelector('.js-new-game').addEventListener('click', restart)
    document.querySelector('.js-popup-new-game').addEventListener('click', restart)

    document.querySelector('.js-settings').addEventListener('click', function () {
      var list = document.querySelector('.js-settings-popup').classList
      list.contains('show') ? list.remove('show') : list.add('show')
      this.setAttribute('aria-expanded', list.contains('show'))
    })

    function restart() {
      clearInterval(game.timer)
      emojiset = document.getElementById('emojiset').value.split(' ')
      game = new Game(cols.value, rows.value, bombs.value, emojiset, document.getElementById('twemoji').checked)
      document.querySelector('.js-settings-popup').classList.remove('show')
      return false
    }
  </script>
  <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')

      ga('create', 'UA-21332781-19', 'auto')
      ga('send', 'pageview')
    </script> -->
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" type="text/css">

  <script>
    // Realizar una solicitud HTTP
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "https://www.colr.org/json/color/ffba13", true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          // Procesar la respuesta
          var response = JSON.parse(xhr.responseText);
          console.log("Información del color:", response);
        } else {
          console.log("Error al realizar la solicitud:", xhr.status);
        }
      }
    };
    xhr.send();
  </script>

  <!-- Music API used: HTML5 Audio API -->
  <!-- <script>
    var soundBackground = new Audio('../../public/media/MUSICADELACHIDA.mp3');
    soundBackground.loop = true;
    soundBackground.volume = 0.5;
    // API Navigator used: Navigator API
    // Comprobación de la compatibilidad del navegador con la reproducción automática de audio
    if (navigator.mediaSession && navigator.mediaSession.setActionHandler) {
      navigator.mediaSession.setActionHandler('play', function () {
        soundBackground.play();
      });

      navigator.mediaSession.setActionHandler('pause', function () {
        soundBackground.pause();
      });
    }

    // Reproducción de música al cargar la página
    window.addEventListener('load', (event) => {
      soundBackground.volume = 0.1; // Volumen = 1(100%), 0.5(50%) y 0(0%)
    });

    // Reproducción de música al recargar la página
    window.addEventListener('pageshow', (event) => {
      if (event.persisted) {
        soundBackground.play();
      }
    });

    // Habilitación de la reproducción automática después de la interacción del usuario
    document.addEventListener('click', function () {
      if (soundBackground.paused) {
        soundBackground.play();
      }
    }); -->

  </script>

</body>
</html>