<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>users</title>
  <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/style-cambios.css">
</head>
<body>
  <div class="info">
    <div class="text d-flex align-items-center">
        <h5 class="me-3">Player:</h5><small class="username fs-6 text-info">Waiting...</small>
    </div>
    <div>
        <ul class="alerts"></ul>
    </div>
  </div>

</body>
</html>
