<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/style-cambios.css">
</head>
<body>
    <div class="records">
        <div class="text1 d-flex align-items-center">
            <h5 class="me-02">Records:</h5><small class="new fs-6 text-info">New</small>
        </div>
        <div>
            <ul class="alerts"></ul>
        </div>
    </div>
</body>
</html>