<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <link rel="stylesheet" href="../../public/css/style-cambios.css">
</head>
<body>
    <div class="score">
        <div class="text1 d-flex align-items-center">
            <h5 class="me-02">Score:</h5><small id="score-value" class="new fs-6 text-info">New</small>
        </div>
        <div>
            <ul class="alerts"></ul>
        </div>
    </div>
</body>
<style>
    
        
</style>
</html>