<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/reset.css">
        <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/style-login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat+Alternates:wght@500&family=Pacifico&display=swap" rel="stylesheet">
        <title>home</title> 
    </head>
    <body>
        <header>
            <h1>Buscaminas</h1>
        </header>
        <main>
            <section id="inicio" class="botonInicio">
                <div class="Usuarios" >
                    <input type="text" placeholder="Usuario"style="height: 55px; width: 300px; margin-top: 10px; text-align: center; margin:center;">
                </div>
                <a href="/BUSCAMINAS_EL_CHIDO/www/views/home/game.html">
                    <label for="botonIniciar">
                        <button  id="botonIniciar" class="boton colorMorado">Iniciar Juego</button>
                    </label>
                </a>  
            </section>
        </main>
    </body>
</html>