<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/BUSCAMINAS_EL_CHIDO/www/public/css/Style-withlogin.css">
</head>
<body>
    <div class="title">
        <h1>Buscaminas</h1>
    </div>
    <div class="formulario">
        <from method="post">
            <h2>Registra tu nombre</h2>
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
        </from>
    </div>
        <!-- <from method="post">
            <div>
                <button id="botonIniciar">Iniciar Juego</button>
            </div>
        </from> -->
    <a href="/BUSCAMINAS_EL_CHIDO/www/views/home/game.html">
        <label for="botonIniciar">
            <button  id="botonIniciar" class="boton colorAmarillo">Iniciar Juego</button>
        </label>
    </a>
</body>
</html>