body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#FFE400, #EEB10D, #C96801, #8F3201, #481900);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #0100007d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    width: 90%; /* Adjusted width for responsiveness */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.title {
    width: 50%;
    height: 80%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/Imagensi.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.formulario {
    margin-bottom: 20px;
}

.formulario h2 {
    color: #ffffff;
}

.username input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.botonIniciar {
    background-color: #ffc107;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.botonIniciar:hover {
    background-color: #ff7700;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    text-align: center;
    margin-top: 1.5em;
    font-size: 6vw; /* Adjusted font size for responsiveness */
    text-shadow: #000000 0.1em 0.1em 0.2em;
}

/* Media Query for smaller devices */
@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 10vw;
    }

    .title {
        width: 80%;
        height: 30%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/Imagensi.png");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 20px;
        text-align: center;
        margin-top: 50px;
    }
}
